<div class="card" 
     style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; "     
>
    <div class="card-header text-center">
        Registrarse
    </div>
    <div class="card-body">
        <form>
            <div class="mb-2">
              <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">No compartiremos esta información con nadie.</div>
            </div>
            <div class="mb-2">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword2" class="form-label">Repetí tu contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword2">
              </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
            </div>
            <button type="submit" class="btn btn-primary form-control">Registrarse</button>
        </form>
        <a class="d-block mt-3 text-end" style="font-size: 0.8rem;" href="">Ya tenés una cuenta? Ingresá!</a>
    </div>
</div>
